*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: Karla, sans-serif;
}

.header img{
    width: 32px;
}

.header h1{
  font-size: 20.75px;
}

.header p{
  font-size: 12px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1rem;
  background-image: linear-gradient(to right, #672280, #A626D3);
}

.header div{
  display: flex;
  gap: 1rem;
}

.meme-form{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
}

.btns{
  display: flex;
  gap: 2rem;
}
.btn{
  padding: 0.5rem;
  border: 1px solid #D5D4D8;
  border-radius: 3px;
}
.btn-1{
  flex: 1;
}
.btn-2{
  flex: 1;
}

.submit-btn{
  width: 100%;
  background-image: linear-gradient(to right, #672280, #A626D3);
  color: white;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.meme-img{
  max-width: 100%;
  border-radius: 3px;
}

.img-container{
  display: flex;
  justify-content: center;
  position: relative;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.top-text{
  position:absolute;
  top: 0px
}
.bottom-text{
  position:absolute;
  bottom: 0px;
}